{% extends "base_admin.html.twig" %}
{% block title %}Éditer membre{% endblock %}
{% block body %}
  <h1>Éditer {{ member.firstName }} {{ member.lastName }}</h1>
  {{ form_start(form) }}
  {{ form_widget(form) }}
    <p><button type="submit">Enregistrer</button></p>

  {{ form_end(form) }}
    <br>
  <a href="{{ path("admin_member_list") }}" class="btn">← Retour</a>
{% endblock %}
